* {
  padding: 0;
  margin: 0;
}

#gameOver {
  background-color: white;
  color: red;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

#player {
  width: 20px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 150px;
  border-radius: 25%;
}

#eyes {
  width: 20px;
  height: 10px;
  background-color: black;
  position: relative;
  border-radius: 25% 25% 0 0;
}

.animation {
  animation: jump 1000ms;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#bullet {
  width: 20px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  top: 140px;
  left: 480px;
  /* animation: fly 1s linear infinite; */
}

#tip {
  width: 10px;
  height: 10px;
  background-color: gold;
  border-radius: 50%;
  position: relative;
}

/* @keyframes fly {
  0% {
    left: 480px;
  }
  100% {
    left: -480px;
  }
} */
