*{
  padding: 0;
  margin: 0;
  background: url(https://sm.mashable.com/mashable_in/photo/default/nasa-galaxy_9pu4.jpg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.title{
  font-size: 5em;
  text-align: center;
  border-bottom: white 1px solid;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  
}

.text{
  font-size: 2em;
  text-align: center;
  padding-top: 0.5em;
}

li{
  font-size: 2em;
  border: white 1px solid;
  padding: 0.5em;
}

#footer{
  text-align: center;
  font-size: 3em;
  padding: 1em;
}

#btg{
  text-decoration: none;
}

#btg:hover{
  text-decoration: underline;
}
